
/* global styling */ 
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.full-height {
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.make-purple {
  background-color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 18pt;
  line-height: 1.5cap;
}

p {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-size: medium;

}

/* setting up the page */

#main-stage {
  min-height: 600px;
  padding: 20px;
}

#main-stage h1 {
 line-height: 5cap;
  
}

#controls {
  min-height: auto;
  max-height: auto;
}

#allCards {
  max-height: 100vh;
  overflow: auto;
  font-size: 14pt;
  border: 2px solid black;
}

.cardEntry {
  border: 1px solid black;
  padding: 10px;
  margin: 1px;
  bottom: auto;
  width: auto;
  overflow: hidden;
}

.faction_icon {
  max-height: 80px;
  height: 90px;
  width: 90px;
  opacity: 0.8;
  z-index: 0;
}

.columnTitle h1 {
  text-align: center;
  font-size: 18pt;
}

/* Faction Colours */

.weyland_consortium {
  background-color: rgba(51, 68, 51, 0.5);}
.haas_bioroid {
  background-color: rgba(105, 20, 105, 0.5)}
.jinteki {
  background-color: rgba(141, 34, 34, 0.8)}
.nbn {
  background-color: rgba(255, 208, 0, 0.5)}
.anarch {
  background-color: rgba(255, 30, 0, 0.5)}
.shaper {
  background-color: rgba(0, 197, 0, 0.5)}
.criminal {
  background-color: rgba(84, 128, 209, 0.5)}
.neutral_runner {
  background-color: rgba(128, 128, 128, 0.5);}
.neutral_corp {
  background-color: rgba(128, 128, 128, 0.5);}
.adam {
  background-color: rgba(156, 124, 156, 0.5);}
.sunny_lebeau {
  background-color: rgba(156, 124, 156, 0.5);}
.apex {
  background-color: rgba(156, 124, 156, 0.5);}