
/* global styling */ 
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.full-height {
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.make-purple {
  background-color: blueviolet;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 15pt;
  line-height: 2cap;
  text-align: ce;
}

p {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-size: small;
}

/* setting up the page */

#main-stage {
  min-height: 600px;
}

#controls {
  min-height: auto;
  max-height: auto;

}

#allCards {
  overflow: auto;
  font-size: 14pt;
  border: 2px solid black;
}

.cardEntry {
  border: 1px solid black;
  padding: 10px;
  margin: 1px;
}

.weyland_consortium {
  background-color: blueviolet
}

.haas_bioroid {
  background-color: olive
}

.jinteki {
  background-color: rgba(255, 0, 0, 0.8)
}

.nbn {
  background-color: yellow
}

.anarch {
  background-color: orangered
}

.shaper {
  background-color: green
}

.criminal {
  background-color: blue
}

.neutral_runner {
  background-color: grey, .5;
}

.adam {
  background-color: blanchedalmond;
}

.sunny_lebeau {
  background-color: purple;
}

